.input-btn {
  transition: all 0.3s ease-in;
  flex: 1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.input-btn:hover {
  color: white;
  transition: all 0.3s ease-in;
}

.cancel-btn {
  background-color: orangered;
}

.cancel-btn:hover {
  background-color: red;
}

.save-btn {
  background-color: lightgreen;
}

.save-btn:hover {
  background-color: green;
}
