.card {
  margin: 1em;
  padding: 0.5em;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-align: left;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  margin-block-start: 0.1em;
}
