.card {
  margin: 10px;
  padding: 10px;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  text-align: left;
}
