.text-input {
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 10px;
  color: black;
  height: 1em;
  margin: 0.2em auto;
  min-height: 1em;
  padding: 10px;
  resize: none;
}
